<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="post-header.html">
<p class="text-muted">{{ page.date | date_to_string }}</p>
{% if page.tag == "homework" %}
<!-- 페이지가 과제페이지 일때만 나타남 -->
<div class="well well-sm">
  <ul>
  	<h3>유의사항</h3>
	  <li>과제 제출 지각은 1시간에 1000원으로 지각비가 증가하며 10시간 초과시 미제출로 간주합니다. (최대 1만원)</li>
		<li>과제 벌금은 누적제로 1회 1000원/시간, 2회 1500원/시간으로 점점 증가합니다.</li>
    <li><code class="highlighter-rouge">README.md</code>작성을 잊지마세요!</li>
	</ul>
</div>
{% endif %}
</div>